In [1]:
#qsn1 variable
a=1.56
b=200
a,b

(1.56, 200)

In [3]:
#qsn2 ...Data type:it is used to specify the type of variable and discribe how much the data can take space in memory
#for example 
type(a)

float

In [8]:
#qsn3
'''list: in list the elements an be accesible.we can close list with in the squre braces
set: set is the combination of elemts closed with curly braces
Dict: in this we can store data in the form of key and value'''
#list
a=[1,"abc",True]
#set
b={1,"dbs"}

a,b

([1, 'abc', True], {1, 'dbs'})

In [14]:
#qsn4
x="hellow world"
#print how
a1=x[-5]
a2=x[-8]
a3=x[-12]
a3+a2+a1

'how'

In [15]:
#print wor
a4=x[7:10]
a4

'wor'

In [25]:
#print owow
a5=x[-5:-3]
a6=x[-8:-6]
a6+a5

'owwo'

In [28]:
#print rld
x[9:]

'rld'

In [77]:
# qsn5......casting
a=100
z=str(100)
print(" ",z,"\n",type(z))

  100
 <class 'str'>

In [33]:
z1=3.1437
z2=str(3.1437)
type(z2)

str

In [34]:
z3=2.4610
z4=int(z3)
z4

2

In [74]:
#qsn6......formet print
a="ruchika"
b=7
print("I "+a+" roll no"

TypeError: can only concatenate str (not "int") to str

In [80]:
#qsn7.....
a="hello"
b="world"
print(a+" "+b)
print(a+" "+b)

hello world
hello world

In [50]:
#qsn8....
l1=["green","orange","red","pink","black"]
l2=["apple","nut","chry","banana"]
l3=l1.copy()
l4=l2.copy()
l3,l4

(['green', 'orange', 'red', 'pink', 'black'],
 ['apple', 'nut', 'chry', 'banana'])

In [52]:
l3.remove("black")
l3

['green', 'orange', 'red', 'pink']

In [53]:
l4.remove("apple")
l4

['nut', 'chry', 'banana']

In [56]:
l1.sort()
l2.sort()
l1,l2

(['black', 'green', 'orange', 'pink', 'red'],
 ['apple', 'banana', 'chry', 'nut'])

In [57]:
l5=l1+l2
l5

['black', 'green', 'orange', 'pink', 'red', 'apple', 'banana', 'chry', 'nut']

In [81]:
l3

['green', 'orange', 'red', 'pink']

In [83]:
a1= "my name is arushi, and my roll number is {}"
a2=101
a4=a1.format(a2)
print(a4)

my name is arushi, and my roll number is 101